:root{
	//Color Variables
  --pure_white: #ffffff;


	//Font Size Variables
  --primary_font: 1.6rem;
  --header_font_large: 3.5rem;
  --header_font_extra_large: 4rem;
  --header_font_medium: 3rem;
  --header_font_medium_small: 2.5rem;
  --header_font_small: 2rem;
}
