.elastic_rotate-container{

    
    & span:not(:first-child){
        visibility: hidden;
    }

    span {
        position: absolute;
        display: inline-block;
        font-size: inherit;
        transform-origin: 50% 100%;
    }

}


// Elastic Rotate
.e-r_in{
    animation: e-r_in 1.2s linear;
    visibility: visible !important;
}
.e-r_out{
    animation: e-r_out 1.2s linear;
    visibility: hidden;
}

@keyframes e-r_out{
    0% {
        transform: perspective(300px) rotateX(0deg);
        visibility: visible;
        opacity: 1;
    }

    35%{
        transform: perspective(300px) rotateX(-60deg);
        opacity: 1;
    }
    
    55%{
        opacity: 0;
    }

    100% {
        transform:perspective(300px) rotateX(360deg);
        opacity: 0;
    }
}

@keyframes e-r_in{
    0% {
        transform: perspective(300px) rotateX(0deg);
        opacity: 0;
    }

    
    75%{
        opacity: 0;
    }

    100% {
        transform:perspective(300px) rotateX(360deg);
        opacity: 1;
    }
}

