.icon-facebook::before{
    font-icon: url(../../img/social-icon/facebook-f-brands.svg);
    color: unset;
    font-size: unset;

}
.icon-twitter::before{
    font-icon: url(../../img/social-icon/twitter-brands.svg);
    color: unset;
    font-size: unset;
}

.icon-telegram::before{
    font-icon: url(../../img/social-icon/telegram-brands.svg);
    color: unset;
    font-size: unset;
}