.color-white{
    color: #fff;
}

.white-opacity{
    color: #fff;
    opacity: .7;
}

.f-s-18{
    font-size: 18px;
}
.f-s-22{
    font-size: 22px;
}

.opacity-9{
    opacity: .9;
}
.opacity-8{
    opacity: .8;
}
.opacity-7{
    opacity: .7;
}
.opacity-6{
    opacity: .6;
}
.opacity-5{
    opacity: .5;
}
.opacity-4{
    opacity: .4;
}
.opacity-3{
    opacity: .3;
}
.opacity-2{
    opacity: .2;
}
.opacity-1{
    opacity: .1;
}

.heading_big{
    font-size: 3.5rem;
    font-weight: bold;
    margin: 3rem 0;
    text-align: center;
}

.text{
    font-size: 1.6rem;
}

.col-no-padding{
    padding: 0;
}
