.chat__box{
    width: 500px;
    height: 600px;
    // margin: 10px auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--theme_color);

    @media (max-width: 900px) {
        height: 100vh
    }

    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--theme_color);
        padding: 20px;
        border-radius: 5px 5px 0 0;
        height: 60px;
        h4{
            text-transform: capitalize;
        }

        .icon__container{
            width: 25%;
            display: flex;
            justify-content: space-between;
            span{
                color: white;
            }

        }
    }

    .chat__container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 490px;

        @media (max-width: 900px) {
            height: 80vh;
        }

        .massage__container{
            overflow: auto;
            padding: 15px;

            .massage{
                
            }
            .massage-remote{
                margin: 15px 40% 15px 0;
                @media (max-width: 900px) {
                    margin: 15px 20% 15px 0;
                }
                position: relative;
                display: flex;
                flex-direction: column;

                span{
                    background-color: rgba(141, 141, 141, 0.116);
                    padding: 10px;
                    border-radius: 5px;
                }
    
    
                &::before{
                    content: '';
                    position: absolute;
                    left: -10px;
                    top: calc(50% - 2px);
                    height: 5px;
                    width: 5px;
                    background-color: greenyellow;
                    border-radius: 50%;
                }
            }
            .massage-local{
                text-align: right;
                margin: 15px 0 15px 40%;
                @media (max-width: 900px) {
                    margin: 15px 0 15px 20%;
                }
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                span{
                    background-color: rgba(141, 141, 141, 0.116);
                    padding: 10px;
                    border-radius: 5px;
                }
    
    
                &::before{
                    content: '';
                    position: absolute;
                    right: -10px;
                    top: calc(50% - 2px);
                    height: 5px;
                    width: 5px;
                    background-color: var(--theme_color);
                    border-radius: 50%;
                }
            }
        }
        textarea{
            resize: none;
            padding: 10px;
            max-height: 250px;
            border: none;
            // background-color: grey;
        }
    }
    .footer{
        display: flex;
        flex-direction: column;
        height: 50px;
       
        button{
            height: 100%;
            border: none;
            border-radius: 0 0 5px 5px;
            background-color: var(--theme_color);
            cursor: pointer;
        }
    }
}