.chat__box{
    width: 500px;
    height: 600px;
    background-color: chartreuse;
    margin: 10px auto;
    border-radius: 5px;

    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: chocolate;
        padding: 20px;
        border-radius: 5px 5px 0 0;

        .icon__container{
            width: 15%;
            display: flex;
            justify-content: space-between;
            span{
                color: white;
            }

        }
    }

    .footer{
        width: 100%;
        input{
            width: 100%;
            height: 100px;
            
        }
    }
}