*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'PT Serif', serif;
  font-family: 'Pacifico', cursive; 
}

html{
  font-size: 62.5%;
}

body{
  box-sizing: border-box;
}
