:root{
	//Color Variables
  --color_white: #ffffff;
  --color_black: #000000;
  --color_gray: gray;


   //Font Size Variables
  --extra_small_font: 1.2rem;
  --small_font: 1.4rem;
  --primary_font: 1.6rem;
  --secondary_font: 1.8rem;
  --large: 3.5rem;
  --extra_large: 4rem;
  --medium: 3rem;
  --medium_small: 2.5rem;
  --small: 2rem;
	
  //Margin and Padding
	--section-margin: 12rem 0;
	--section-margin-small: 10rem 0;
	--section-margin-large: 14rem 0;

}
