.header{
    padding: 30px 10px 25px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-container{
        width: max-content;
    }

    .options{
        display: flex;
        justify-content: end;
        align-items: center;


        .option{
            list-style: none;
            text-decoration: none;
            color: black;
            cursor: pointer;
            padding: 0 30px;
        }
    }
}